<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head', {title: 'Login | BlogNest'}) %>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/script.js" defer></script>
  </head>
  <body>
    <section class="section form-section">
      <div class="container">
        <div class="form-card">
          <div class="card-header">
            <a href="/" class="logo">
              <img
                width="163"
                height="40"
                src="/images/logo-light.svg"
                alt="BlogNest"
                class="light"
              />
              <img
                width="163"
                height="40"
                src="/images/logo-dark.svg"
                alt="BlogNest"
                class="dark"
              />
            </a>

            <p class="body-large text-on-surface-variant">
              Join the blogNest community
            </p>
          </div>
          <form action="" class="form" data-form>
            <div class="text-field-wrapper">
              <label for="email" class="body-large label">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                required
                autocomplete="email"
                placeholder=""
                class="body-large text-field"
                autofocus
              />
            </div>
            <div class="text-field-wrapper">
              <label for="password" class="body-large label">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                required
                minlength="8"
                placeholder=" "
                class="body-large text-field"
              />
            </div>
            <button type="submit" class="btn btn-fill" data-submit-btn>
              <p class="label-large">Sign in</p>

              <div class="state-layer"></div>
            </button>
          </form>
          <div class="card-footer">
            <p class="label-large">New to BlogNest?</p>

            <a href="/register" class="label-large text-primary">Sign up</a>
          </div>
        </div>
      </div>
    </section>

    <!--
      #SNACKBAR
    -->
    <div class="snackbar-wrapper" data-snackbar-wrapper></div>
  </body>
</html>
